@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Common/Plugin/tinymce_441/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/Common/Plugin/tinymce_441/js/tinymce_config.js"></script>
    <title>Default</title>
</head>
<body>
    <div>
        <textarea id="mytextarea">Hello world!!</textarea>
    </div>
</body>
</html>
